{{- define "backup.alert" -}}
🔴 <b>BACKUP FAILED</b>

<b>Alert:</b> {{ .Labels.alertname }}
<b>System:</b> {{ .Labels.system }}
<b>IP Address:</b> <code>{{ .Labels.host }}</code>
<b>Error Log:</b> <pre>{{ .Annotations.description }}</pre>
<i>Time: {{ .StartsAt.Local.Format "2006-01-02 15:04:05" }}</i>
<b>Last Attempt:</b> {{ .Annotations.last_run }}
<b>Severity:</b> {{ .Labels.severity | toUpper }}
{{- end -}}
