{{- define "memory.alert" -}}
{{- if eq .Labels.severity "warning" -}}🟠 <b>MEMORY WARNING</b>
{{- else if eq .Labels.severity "critical" -}}🔴 <b>MEMORY CRITICAL</b>
{{- else -}}🛑 <b>MEMORY EMERGENCY</b>
{{- end }}

<b>Alert:</b> {{ .Labels.alertname }}
<b>Device Name:</b> {{ .Labels.job }}
<b>IP Address:</b> <code>{{ .Labels.instance }}</code>
<b>Usage:</b> {{ or .Annotations.value "N/A" }}%
<b>Description:</b> {{ .Annotations.description }}
<i>Time: {{ .StartsAt.Local.Format "2006-01-02 15:04:05" }}</i>

<b>Severity:</b> {{ .Labels.severity | toUpper }}
{{- end -}}
