{{- define "network.alert" -}}
🔴 <b>NETWORK ALERT</b>

<b>Alert:</b> {{ .Labels.alertname }}
<b>Device Name:</b> {{ .Labels.job }}
<b>IP Address:</b> <code>{{ .Labels.instance }}</code>
<b>Interface:</b> {{ .Labels.ifName }} ({{ or .Labels.ifAlias "no-alias" }})
<b>Values:</b> {{ or .Annotations.value "N/A" }} {{ if .Labels.traffic_mbps }}(Threshold: {{ .Labels.traffic_mbps }} Mbps){{ end }}
<b>Description:</b> {{ .Annotations.description }}
<i>Time: {{ .StartsAt.Local.Format "2006-01-02 15:04:05" }}</i>

<b>Severity:</b> {{ .Labels.severity | toUpper }}
{{- end -}}
