{{- define "interface.status.alert" -}}
{{- if eq .Status "firing" -}}
  {{- if eq .Labels.alertname "InterfaceDown" -}}🔴 <b>INTERFACE DOWN</b>
  {{- else -}}🟢 <b>INTERFACE UP</b>
  {{- end -}}
{{- else -}}⚪ <b>STATUS RESOLVED</b>
{{- end }}

<b>Alert:</b> {{ .Labels.alertname }}
<b>Device Name:</b> {{ .Labels.job }}
<b>IP Address:</b> <code>{{ .Labels.instance }}</code>
<b>Port:</b> {{ .Labels.ifDescr }}
<b>Alias:</b> {{ or .Labels.ifAlias "N/A" }}
<b>Description:</b> Interface {{ .Labels.ifDescr }} on {{ .Labels.instance }} is {{ if eq .Labels.alertname "InterfaceDown" }}DOWN{{ else }}UP{{ end }}
<i>Time: {{ .StartsAt.Local.Format "2006-01-02 15:04:05" }}</i>

<b>Severity:</b> {{ .Labels.severity | toUpper }}
{{- end -}}
