server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /tmp/positions.yaml

clients:
  - url: {{ loki_url }}

scrape_configs:

  - job_name: system
    static_configs:
      - targets:
          - localhost
        labels:
          job: varlogs
          # Tự động lấy tên máy hiện tại
          host: {{ inventory_hostname }}
          __path__: /var/log/*.log

    relabel_configs:
      - source_labels: ['__path__']
        regex: '/var/log/(.*)' 
        target_label: 'source'

{% if enable_docker_logs %}

  - job_name: docker
    docker_sd_configs:
      - host: unix:///var/run/docker.sock
        refresh_interval: 5s
        
    relabel_configs:
      - target_label: 'job'
        replacement: 'docker'
      
      - target_label: 'host'
        # Tự động lấy tên máy hiện tại
        replacement: '{{ inventory_hostname }}'
      
      - source_labels: ['__meta_docker_container_name']
        regex: '/(.*)'  
        target_label: 'source'
        
      - source_labels: ['__meta_docker_container_log_stream']
        target_label: 'log_stream'
      
      - source_labels: ['__meta_docker_container_id']
        target_label: '__path__'
        replacement: /var/lib/docker/containers/$1/*.log
{% endif %}
