[Unit]
Description=Nginx Prometheus Exporter
After=network.target

[Service]
User=node_exporter
Group=node_exporter
Type=simple
Restart=always
RestartSec=5
ExecStart=/usr/local/bin/nginx-prometheus-exporter \
  -nginx.scrape-uri=http://127.0.0.1:8081/nginx_status \
  -web.listen-address=:9113 \
  -web.telemetry-path=/metrics \
  -nginx.retries=5 \
  -nginx.timeout=10s

[Install]
WantedBy=multi-user.target
